<?xml version="1.0"?>
<launch>
	<arg name="ARM" default="left"/>
  <arg name="PC_IP_ADDR" default="127.0.0.1"/>
  <arg name="ROBOT_IP_ADDR" default="127.0.0.1"/>
	<arg name="MANAGER_PORT" default="50004"/>
	<arg name="SCRIPT_PORT" default="30002"/>
	<arg name="SCRIPT_FILE_PATH" default="$(find tom_configs)/ScriptManager/Scripts/scriptManagerLeftArmAndGripper"/>

	<group ns="tom">
	<group ns="arm_$(arg ARM)">
   		<node name="robot_script_manager_left" pkg="tum_ics_ur_robot_manager" type="robot_script_manager" 
   		      args="$(arg SCRIPT_FILE_PATH) 
   		            $(arg PC_IP_ADDR) 
   		            $(arg ROBOT_IP_ADDR) 
   		            $(arg MANAGER_PORT)
   		            $(arg SCRIPT_PORT)" output="screen"/>	
	</group>
	</group>

</launch>
