<?xml version="1.0"?>
<launch>

	<arg name="ROBOT" default="sim"/>
   <arg name="CONFIG_FILE_PATH" default="$(find tum_ics_ur_robot_controllers)/launch/configs/config_ur10_Arm_FD_$(arg ROBOT).ini"/>

	<node name="testJointCtrl_ur10" pkg="tum_ics_ur_robot_controllers" type="testJointControl" args="$(arg CONFIG_FILE_PATH)" output="screen">
		<rosparam file="$(find tum_ics_ur_robot_controllers)/launch/configs/pidInt.yaml" command="load" />
      		<rosparam file="$(find tum_ics_ur_robot_controllers)/launch/configs/pidCtrl.yaml" command="load" />		
		<rosparam file="$(find tum_ics_ur_robot_controllers)/launch/configs/sosmCtrl.yaml" command="load" />
  	</node>
</launch>
