<?xml version="1.0"?>
<launch>
        <arg name="CONFIG_FILE_PATH" default="$(find tom_configs)/Arms/parameters/arm_configs/configTOM_right_Arm_FD.ini"/>
       <node name="testSimpleEffortCtrl" pkg="ur_robot_controllers" type="testMultipleControllers" args="$(arg CONFIG_FILE_PATH)" output="screen">
               <rosparam file="$(find ur_robot_controllers)/launch/configs/pidInt.yaml" command="load" />
               <rosparam file="$(find ur_robot_controllers)/launch/configs/pidCtrl.yaml" command="load" />
      <rosparam file="$(find ur_robot_controllers)/launch/configs/sosmOpCtrl.yaml" command="load" />
        </node>
 </launch>

